In [1]:
library(Seurat)

Loading required package: SeuratObject

Loading required package: sp


Attaching package: ‘SeuratObject’


The following object is masked from ‘package:base’:

    intersect

In [2]:
so <- readRDS(file = 'Exp918_fully.rds')

In [4]:
so <- JoinLayers(so)

In [5]:
so

An object of class Seurat
18082 features across 429366 samples within 1 assay
Active assay: RNA (18082 features, 0 variable features)
 1 layer present: counts

In [6]:
mtx <- so[['RNA']]$counts

In [8]:
meta <- so@meta.data

In [9]:
saveRDS(mtx, 'exp918_mtx.rds')
saveRDS(meta, 'exp918_meta.rds')

In [10]:
head(meta)

                             orig.ident              nCount_RNA nFeature_RNA
AAACAAGCACCGGTAGACTTTAGG-1_1 Exp00918_w1_BL05013-033  6654      3198
AAACAAGCACTAAGGCACTTTAGG-1_1 Exp00918_w1_BL05013-033  5889      2988
AAACAAGCACTCCCTTACTTTAGG-1_1 Exp00918_w1_BL05013-033 14577      4339
AAACAAGCATTCCTTTACTTTAGG-1_1 Exp00918_w1_BL05013-033 11459      4099
AAACAAGCATTTAGCCACTTTAGG-1_1 Exp00918_w1_BL05013-033  5790      2967
AAACCAATCAATGTTCACTTTAGG-1_1 Exp00918_w1_BL05013-033 20776      5697
                             donor   well donor2
AAACAAGCACCGGTAGACTTTAGG-1_1 BL05013 w1   BL05013-033
AAACAAGCACTAAGGCACTTTAGG-1_1 BL05013 w1   BL05013-033
AAACAAGCACTCCCTTACTTTAGG-1_1 BL05013 w1   BL05013-033
AAACAAGCATTCCTTTACTTTAGG-1_1 BL05013 w1   BL05013-033
AAACAAGCATTTAGCCACTTTAGG-1_1 BL05013 w1   BL05013-033
AAACCAATCAATGTTCACTTTAGG-1_1 BL05013 w1   BL05013-033

In [11]:
table(meta$donor)

BL05013 BL05045 BL05113 BL05759 BL05760 PB02183
  80512   80718   76120   78030   83144   30842

In [13]:
table(meta$donor2)

BL05013-033 BL05013-034 BL05013-035 BL05013-036 BL05013-037 BL05013-038
       6135        6513        6452        6529        6601        6600
BL05013-039 BL05013-040 BL05013-041 BL05013-042 BL05013-043 BL05013-044
       5883        6224        6782        6840        7193        8760
BL05045-048 BL05045-049 BL05045-050 BL05045-051 BL05045-052 BL05045-053
       6757        7212        7069        5682        7328        6351
BL05045-054 BL05045-055 BL05045-056 BL05045-057 BL05045-058 BL05045-059
       6540        5824        6178        6761        7548        7468
BL05113-013 BL05113-014 BL05113-015 BL05113-016 BL05113-017 BL05113-018
       6744        6064        6545        6089        6138        6330
BL05113-019 BL05113-020 BL05113-021 BL05113-022 BL05113-023 BL05113-024
       4996        5776        6292        7883        7295        5968
BL05759-020 BL05759-021 BL05759-022 BL05759-023 BL05759-024 BL05759-025
       6289        6797        6381        6226        6612        6615
BL05759-026 BL05759-027 BL05759-028 BL05759-029 BL05759-030 BL05759-031
       5224        5945        6776        7041        7150        6974
BL05760-028 BL05760-029 BL05760-030 BL05760-031 BL05760-032 BL05760-033
       6467        6401        7090        6209        7150        6294
BL05760-034 BL05760-035 BL05760-036 BL05760-037 BL05760-038 BL05760-039
       5826        8953        5634        7314        7952        7854
PB02183-154
      30842